<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>To Do HOME</title>
</head>

<body>
    <main>
        <header>
            <article id="titulo">
                To Do
            </article>
            <article id="adicionar_pasta">
                +
            </article>
        </header>
        <section id="carrosel">
            <div id="frases">
                <p>
                    Experimente nomear as pastas com seus deveres!
                </p>
                <!-- <p>
                    Adicione seus objetivos de seu dia!
                </p>
                <p>
                    Não esqueça de adicionar: "Beber muita água"! ;)
                </p>
                <p>
                    Experimente nomear as pastas com seus deveres!
                </p>
                <p>
                    Adicione seus objetivos de seu dia!
                </p>
                <p>
                    Não esqueça de adicionar: "Beber muita água"! ;)
                </p>
                <p>
                    Experimente nomear as pastas com seus deveres!
                </p>
                <p>
                    Adicione seus objetivos de seu dia!
                </p>
                <p>
                    Não esqueça de adicionar: "Beber muita água"! ;)
                </p>
    
             -->
            </div>
        </section>
        <section id="conteiner">
            <nav class="conteiner-pastas">
                <article class="pasta">
                    <form action="/todo" method="get">
                        <input type="text" id="nome">
                        <input type="submit" id="nome" value=" salvar">
                    </form>
                </article>
            </nav>
            <nav class="conteiner-pastas" >
                <article class="pasta">Matemática</article>
            </nav>
            
        </section>
        <footer>
            <div id="footer">
                <div class="informacoes_geo">
                        <ul>
                            <li id="desenvolvedora">
                                Desenvolvedora Web
                            </li>
                            <li  id="geovanna">
                               Geovanna Lessa
                            </li>
                            <li id="press">
                                press here
                            </li>
                            <ul id="icons">
                                <li>
                                    <a  href="https://github.com/Geovannalessa"><img id="git" src="./img/gitHub_vermelho.png" alt="icone_do_github"></a> 
    
                                </li>
                                <li>
                                    <a  href="https://www.linkedin.com/in/geovanna-lessa-19b1b31b0/"><img id="linkedin" src="./img/linkedin_verde.png" alt="icone_do_linkedin"></a>
    
                                </li>
                            </ul>
                        </ul>
                </div>
            </div>
        </footer>
    </main>


</body>

</html>