body{
    background-color: rgba(0, 0, 0, 0.96);
    margin: 0%;
}
main{
    margin: auto;
    width: 700px;
    
}
header{
    height: 100px;
    padding: 10px;
    border-bottom: 1px rgba(255, 255, 255, 0.172) solid;
    background-color:rgba(255, 255, 255, 0.044) ;
    display: flex;
    justify-content: space-between;
} 
#titulo{
    -webkit-text-stroke: 1px rgb(163, 17, 216);
    font-size: 40px;
    width: 20px;
    height: fit-content;
    color: transparent;
}
#adicionar_pasta{
    background-color: rgba(240, 248, 255, 0.043);
    color:  rgba(163, 17, 216, 0.489);
    font-weight: bold;
    align-self:end;
    border: 1px ;
    height:fit-content;
    font-size: 20px;
    padding: 5px 10px;
    width:fit-content;
    border-radius: 40px;
}
#adicionar_pasta:hover{
    background:radial-gradient(rgba(80, 103, 255, 0.108),rgba(80, 103, 255, 0.226));
    cursor: pointer ;
}

#carrosel{
    background-color: rgba(240, 248, 255, 0.922);
    font-family: 'Inconsolata', monospace;
    border-radius: 30px;
    height:80px ;
    border: 5px solid;
}
#carrosel> #frases{
    display: flex;
    animation-name: animacao;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    height:80px;
    white-space: nowrap;
   overflow: hidden;
   animation:animacao 80s steps(40) 20s normal;
}
#carrosel> #frases>p{
    margin: auto;
    /* margin-right: 200px;
    padding-left: 200px; */
    display: block;
}
    
/* @keyframes animacao{
    from{
        width: 0;
    }
    to{
        width: 11em;
    }
    
    
} */
#conteiner{
    margin-top: 20px;
}

.conteiner-pastas{
    display: flex;
    color: white;
    margin-bottom: 20px;
    border: rgb(230, 165, 96) 1px solid;
    height: 50px;
    justify-content: center;
    padding-top: 5px;

    
}
.pasta{
    background-color: rgba(255, 255, 255, 0.348);
    height: fit-content;
    padding: 6px 10px;
    border-radius: 30px;

    
}
.informacoes_geo {
    grid-area: footer;
    
    height: 200px;
    font-family: 'Press Start 2P', cursiva;
    padding-top: 2px;
   
    background-color: rgba(164, 131, 189, 0.466);
    border: rgba(248, 0, 0, 0.423) 4px groove;
    border-top: 10px rgba(0, 0, 0, 0.093) solid;
    font-size: larger;
    margin-top: 60px;
    
}

.informacoes_geo>ul{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    align-self: center;
    
    background-color: #987eaf60;
    padding:10px 0 20px 0 ;
}
.informacoes_geo>ul>li{
    list-style: none;
    padding-bottom: 20px;
    
}
#desenvolvedora{
    margin-left:0 ;
    align-self:center;
    font-size: 12px;
    width:fit-content;
    color: rgba(0, 0, 0, 0.622);
    -webkit-text-stroke: 1px rgb(0, 0, 0);

}
#geovanna{
/* position: absolute */
width: fit-content;
height: 42px;
color: rgba(255, 255, 255, 0.101);
-webkit-text-stroke: 1px #FFF;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}
#press{
    color: white;
    padding-bottom: 15px;
    font-size: 10px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.406);
}
#icons{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    justify-content: space-between;
    padding: 0%;
}

#git{
    border: ridge 3px  rgba(17, 210, 36, 0.498) ; 
    background-color: rgba(255, 255, 255, 0.597);
    height: 28px;
    width: 30px;
    animation-name: animacao_git;
    animation-duration: 2s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    margin-right: 30px;
}
#git:hover{
    border: ridge 3px  rgba(238, 214, 0, 0.932); 
    background-color: rgba(255, 255, 255, 0.745);
    animation-play-state: paused;
}
#linkedin{
    border: ridge 3px  rgba(17, 210, 36, 0.52); 
    background-color: rgba(255, 255, 255, 0.597);
    height: 19px;
    width: 17px;
    padding: 4px 8px 4px 8px;
    animation-name: animacao_linkedin;
    animation-duration: 2s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    }
#linkedin:hover{
    border: ridge 3px  rgba(238, 214, 0, 0.826); 
    background-color: rgba(255, 255, 255, 0.823);
    animation-play-state: paused;

}
@keyframes animacao_git{
    to{
        height: 28px;
    width: 30px;}
    from{opacity:0% ;
    box-shadow: #050704 10px inset ;}
}
@keyframes animacao_linkedin{
    to{
        height: 19px;
        width: 17px;
        padding: 4px 8px 4px 8px;
    }
    from{
        opacity:0% ;
    }
}




/* Para celulares */
@media(max-width:480px){
    body{
        background-color: green;
    }
    main{
        width: 330px;
    }
    #bloco>label>textarea{
        width: 280px;
    }
}
/* Para tabletes, ipads */
@media(min-width:481px) and (max-width:767px){
    body{
        background-color: aquamarine;
    }
    main{
        width: 450px;
    }
    #bloco>label>textarea{
        width: 400px;
    }
}
/* Para laptos e desktops */
@media(min-width:990px) and (max-width:1280px){
    body{
        background-color: antiquewhite;
    }
}
/* Para telas grandes */
@media(min-width:1281px){
    body{
    }
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Raleway+Dots&display=swap');
@font-face {
    font-family: 'Press Start 2P' ;
    src: url("./PressStart2P-Regular.ttf");
}