body{
    background-color: rgba(0, 0, 0, 0.96);
    margin: 0%;
}
main{
    margin: auto;
    width: 700px;
    
}
header{
    height: 100px;
    padding: 10px;
    border-bottom: 1px rgba(255, 255, 255, 0.172) solid;
    background-color:rgba(255, 255, 255, 0.044) ;
    display: flex;
    justify-content: space-between;
} 
#titulo{
    -webkit-text-stroke: 1px rgb(163, 17, 216);
    font-size: 40px;
    width: 20px;
    height: fit-content;
    color: transparent;
}
#adicionar_pasta{
    background-color: rgba(240, 248, 255, 0.043);
    color:  rgba(163, 17, 216, 0.489);
    font-weight: bold;
    align-self:end;
    border: 1px ;
    height:fit-content;
    font-size: 20px;
    padding: 5px 10px;
    width:fit-content;
    border-radius: 40px;
}
#adicionar_pasta:hover{
    background:radial-gradient(rgba(80, 103, 255, 0.108),rgba(80, 103, 255, 0.226));
    cursor: pointer ;
}

#carrosel{
    background-color: rgba(240, 248, 255, 0.922);
    font-family: 'Inconsolata', monospace;
    border-radius: 30px;
    height:80px ;
    border: 5px solid;
}
#carrosel> #frases{
    display: flex;
    animation-name: animacao;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    height:80px;
    white-space: nowrap;
   overflow: hidden;
   animation:animacao 80s steps(40) 20s normal;
}
#carrosel> #frases>p{
    margin: auto;
    /* margin-right: 200px;
    padding-left: 200px; */
    display: block;
}
    
/* @keyframes animacao{
    from{
        width: 0;
    }
    to{
        width: 11em;
    }
    
    
} */
#conteiner{
    margin-top: 20px;
}

.conteiner-pastas{
    display: flex;
    color: white;
    margin-bottom: 20px;
    border: rgb(230, 165, 96) 1px solid;
    height: 50px;
    justify-content: center;
    padding-top: 5px;

    
}
.pasta{
    background-color: rgba(255, 255, 255, 0.348);
    height: fit-content;
    padding: 6px 10px;
    border-radius: 30px;

    
}




/* Para celulares */
@media(max-width:480px){
    body{
        background-color: green;
    }
    main{
        width: 330px;
    }
    #bloco>label>textarea{
        width: 280px;
    }
}
/* Para tabletes, ipads */
@media(min-width:481px) and (max-width:767px){
    body{
        background-color: aquamarine;
    }
    main{
        width: 450px;
    }
    #bloco>label>textarea{
        width: 400px;
    }
}
/* Para laptos e desktops */
@media(min-width:990px) and (max-width:1280px){
    body{
        background-color: antiquewhite;
    }
}
/* Para telas grandes */
@media(min-width:1281px){
    body{
    }
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Raleway+Dots&display=swap');