body{
    background-color: black;
}
main{
    margin: auto;
    width: 700px;
    border: 1px rgba(255, 255, 255, 0.336) solid;
}
header{
    height: 100px;
    padding: 10px;
    border-bottom: 1px white solid;
    background-color:rgba(0, 0, 0, 0.31) ;
} 





/* Para celulares */
@media(max-width:480px){
    body{
        background-color: green;
    }
    main{
        width: 330px;
    }
    #bloco>label>textarea{
        width: 280px;
    }
}
/* Para tabletes, ipads */
@media(min-width:481px) and (max-width:767px){
    body{
        background-color: aquamarine;
    }
    main{
        width: 450px;
    }
    #bloco>label>textarea{
        width: 400px;
    }
}
/* Para laptos e desktops */
@media(min-width:990px) and (max-width:1280px){
    body{
        background-color: antiquewhite;
    }
}
/* Para telas grandes */
@media(min-width:1281px){
    body{
        background-color: blue;
    }
}