
body{
    background-color: black;
}
main{
    margin: auto;
    width: 700px;
    border: 1px rgba(255, 255, 255, 0.336) solid;
}
header{
    height: 100px;
    padding: 10px;
    border-bottom: 1px white solid;
    background-color:rgba(0, 0, 0, 0.31) ;
} 
header>div{
    -webkit-text-stroke: 1px rgb(163, 17, 216);
    font-size: 40px;
    width: 20px;
    height: fit-content;
} 
#mini_cabecalho>ul{
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 12px;
    height: 40px;
}
#nomePasta{
    color: aliceblue;
    background-color: rgba(229, 243, 243, 0.167);   
    padding: 8px;
    width: fit-content;
    border-radius: 20px;
}
#botao_de_volta>img{
    background-color: rgba(248, 252, 250, 0.062);
    opacity: 55%;
    height: 23px;
    width: 23px;
    padding: 3px;
    border-radius: 20px;
}
#botao_de_volta>img:hover{
    opacity: 70%;
    border: 1px solid rgb(189, 250, 46); 
}
#bloco{
    background-color: rgba(255, 255, 255, 0.979);
    display: flex;
    align-items: flex-start;
    padding: 20px 13px 100px 13px;
    height: fit-content;
}
#checkbox:checked + textarea{
    color: rgba(0, 0, 0, 0.243);
    text-decoration: line-through;
    text-decoration-color: rgba(126, 126, 126, 0.416);
    background-color: rgba(55, 0, 255, 0.025);
}
#cheackbox:hover{
    background-color: rgb(211, 129, 35);
}
#bloco{
 display: flex;
 flex-direction: column;
}
label{
    display: flex;
    padding-bottom: 10px;
}
#bloco>input{
    background-color: rgb(133, 213, 67);
}
#bloco>textarea, #bloco>label>textarea{
    background-color: rgba(255, 255, 255, 0.979);
    border: rgba(128, 128, 128, 0.091) solid 1px;
    margin: auto;
    resize: none;
    outline: none;
    padding: 0 5px;
    overflow-y: hidden;
}
textarea:is(:focus,:valid){
    border-width: 2px;
    border-color: rgb(9, 31, 31);
}
